

@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1024px) {
  .menu{
    .menu__nav {
      .nav {
        .active {
          background-color: $color-bg-light !important;
          color: #f4511e !important;
        }
      }
      .nav{
        .nav-item{
          .nav-link{
            padding: 0.5rem 18px;
          }
        }
      }
    }
  }
  
  .roadmap{
    .roadmap-img{
      position: absolute;
      left: 38% !important;
    }
  }
  
}
@media only screen and (max-width: 768px) {
  // ====== Menu

  header {
    height: auto;
    .container {
      max-width: 100% !important;
    }
  }

  .menu {
    width: 100%;
    flex-wrap: wrap;
    .menu__nav {
      width: 100%;
      flex-wrap: wrap;
      .nav {
        width: 100%;
        flex-wrap: wrap;
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s;
        .mb-10 {
          margin-bottom: 10px;
        }
      }
      .nav.active {
        transition: 1s ease;
      }
      .nav.java {
        max-height: 100vh;
      }
    }
    .button__menu {
      display: block;
    }
  }
  // ====== Banner
  .banner{
    .banner__content{
      text-align: center;
    }
  }

  .dpoker{
    .dpoker__content{
      text-align: center;
    }
  }
  // ====== Roadmap
  #cd-timeline {
    display: block !important;
  }
  .roadmap{
    display: none;
  }

  // Faq
  .faq {
    .faq__content{
      .faq__content-item{
        .item__btn{
          width: 690px !important;
        }
      }
    }
  }  
  // Shou
  .shou{
    .shou__title{
      h2{
        font-size: 30px !important;
      }
    }
    .shou__icon{
      height: auto !important;
    }
  }
}
@media only screen and (max-width: 425px) {
  // Faq
  .faq {
    .faq__content{
      .faq__content-item{
        .item__btn{
          width:100%!important;
          height: auto !important;
          font-size: 16px !important;
        }
      }
    }
  }  
  .shou{
    .shou__title{
      h2{
        font-size: 30px !important;
      }
    }
  } 
}
@media only screen and (max-width: 375px) {
  .faq {
    .faq__content{
      .faq__content-item{
        .item__btn{
          .item__text{
            padding: 0 45px 0 37px !important;
          }
        }
      }
    }
  } 
  .shou{
    .shou__title{
      h2{
        font-size: 30px !important;
      }
    }
  } 
}
