// @media only screen and (max-width: 767px) {
//

@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
  // ====== Menu

  header {
    height: auto;
    .container {
      max-width: 100% !important;
    }
  }

  .menu {
    width: 100%;
    flex-wrap: wrap;
    .menu__nav {
      width: 100%;
      flex-wrap: wrap;
      .nav {
        width: 100%;
        flex-wrap: wrap;
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s;
        .mb-10 {
          margin-bottom: 10px;
        }
      }
      .nav.active {
        transition: 1s ease;
      }
      .nav.java {
        max-height: 100vh;
      }
    }
    .button__menu {
      display: block;
    }
  }
}
@media only screen and (max-width: 425px) {
}
@media only screen and (max-width: 375px) {
}
