$color-menu: #040227;
$color-main: #FFD601;
$color-second: #1A94FF;
$color-font-grey: #D7D7D7;
$color-font-black: #2E2E2E;
$color-font-light: #fff;
$color-font-footer: #EAEAEA;
$color-btn: #e6e6e6;
$color-bg: #07093E;
$color-bg-blur: rgba(250, 250, 250, 0.1);
$color-bg-light: #ffffff;
$color-bg-grey: rgba(0, 0, 0, 0.2);
$color-bg-lang: #03021F;
$color-line: #ffffff61;
$color-number: #00A3FF;
$signal-strength-bar-height: 170px;
$signal-strength-bar-width: 200px;

