@import "mixin";
@import "variable";
@import "header";
@import "footer";
@import "reset";
@import "font";
@import "responsive";
html {
  scroll-behavior: smooth;
}
body{
  background-color: $color-menu;
}
/* ======================= BANNER ======================= */
.banner {
  padding: 166px 0 50px 0;
  .banner__content {
    padding: 50px 0 0 0;
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 60px;
      line-height: 34px;
      color: $color-main;
      margin-bottom: 20px;
    }
    h4 {
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 18px;
      letter-spacing: 0.075em;
      color: $color-second;
      margin-bottom: 49px;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 40px;
      color: $color-font-light;
      padding-right: 16px;
    }
    .banner__content-btn {
      .btn {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
      }
      .btn__regis {
        padding: 16px 40px;
        background-color: $color-main;
        border-radius: 8px;
      }
    }
  }
  .banner__box {
    width: 100%;
    height: auto;
    background: $color-bg-grey;
    backdrop-filter: blur(56px);
    border-radius: 12px;
    text-align: center;
    .banner__box-img {
      padding: 15px 15px 10px;
    }
    .banner__box-btn {
      button {
        background: inherit;
        backdrop-filter: blur(56px);
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 25px;
        text-align: center;
        color: $color-font-light;
        padding: 13px 17px;
      }
    }
  }
}

/* ======================= DPOKER ======================= */
.dpoker {
  padding: 166px 0 0 0;
  .dpoker__content {
    
    h2 {
      font-style: normal;
      font-weight: 700;
      font-weight: 700;
      font-size: 38px;
      line-height: 64px;
      color: $color-main;
      margin-bottom: 13px;
    }
    h4 {
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 18px;
      letter-spacing: 0.075em;
      color: $color-second;
      margin-bottom: 49px;
    }
    p {
      text-align: justify;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 40px;
      color: $color-font-light;
    }
    .p-100{
      padding-right: 90px;
    }
    .dpoker__content-btn {
      .btn {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
      }
      .btn__regis {
        padding: 16px 40px;
        background-color: $color-main;
        border-radius: 8px;
      }
    }
  }
}

/* ======================= ELEMENT ======================= */
.element{
  // .bg-coin-nine{
  //   position: absolute;
  //   top: 143%;
  //   left: 4%;
  // }
  // .bg-coin-ten{
  //   position: absolute;
  //   top: 146%;
  //   left: 40%;
  // }
  // .bg-coin-eleven{
  //   position: absolute;
  //   top: 120%;
  //   right: 2%;
  // }
  // .bg-coin-twelve{
  //   position: absolute;
  //   top: 194%;
  //   right: 6%;
  // }
  // .bg-coin-thirdteen{
  //   position: absolute;
  //   top: 230%;
  //   right: 12%;
  // }
  // .bg-coin-fourteen{
  //   position: absolute;
  //   top: 261%;
  //   right: 3%;
  //   z-index: -1;
  // }
  // .bg-coin-fifteen{
  //   position: absolute;
  //   top: 244%;
  //   right: 22%;
  //   z-index: -1;
  // }
  // .bg-hide-one{
  //   position: absolute;
  //   top: 187.5%;
  //   left: 2%;
  // }
  // .bg-hide-two{
  //   position: absolute;
  //   left: 0%;
  //   top: 171%;
  // }
  padding: 153px 0 50px;
  
  .element__title{
    h2{
      font-style: normal;
      font-weight: 700;
      font-size: 38px;
      line-height: 64px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $color-main;
    }
  }
  .element__content{   
    .card{
      height: auto;
      background: transparent;
      margin-right: 15px;
      margin-top: 20px;
      backdrop-filter: blur(56px);
      border-radius: 12px;  
      transition: .5s ease;
      border: 3px solid $color-line;
      cursor: pointer;
      text-align: center;
      .card-img{
        padding: 7px;
      }
      .card-content{
        h3{
          padding-top: 26px;
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 22px;
          color: $color-main;
        }
        p{
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: $color-font-light;
          padding: 0 28px;
          
        }
        .card-content__p{
          margin-bottom: 0;
          
        }
        .card-content__pone{
          margin: 0;
          padding: 0 26px 5px;
        }
      }
    }
    
  }
  .pb-20{
    padding-bottom: 20px !important;
  }
}

/* ======================= JOIN ======================= */
.join{
  background-image: url(../images/4.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  .join__title{
    text-align: center;
    margin-bottom: 40px;
    h2{
      font-style: normal;
      font-weight: 700;
      font-size: 38px;
      line-height: 130%;
      color: $color-main;
    }
  }
  .join__content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 7%;
    .card{
      justify-content: center;
      align-items: center;
      width: 330.84px;
      height: 292px;
      background: inherit;
      margin: 22px 19px;
      backdrop-filter: blur(56px); 
      transition: .5s ease;
      border: 1px solid $color-line;
      cursor: pointer;
      text-align: center;
      
      .card-img{
        width: 58px;
        // padding: 7px;
      }
      .img-4-2{
        width: 88px;
      }
      .img-4-4{
        width: 81px;
        margin-top: 20px;
      }
      .card-content{
        .h-4-2{
          padding: 12px 40px;
        }
        .p-4-2{
          margin: 0;
        }
        .h-4-3{
          padding: 33px 20px 0px;
        }
        .h-4-4{
          padding: 33px 60px 0;
        }
        h3{
          padding-top: 33px;
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 130%;
          color: $color-main;
        }
        p{
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
          color: $color-font-light;
          padding: 0 38px;
        }
        .card-content__p{
          margin-bottom: 0;
          
        }
        .card-content__pone{
          margin: 0;
          padding: 0 26px 5px;
        }
      }
    }
  }
}

/* ======================= ROADMAP ======================= */

#cd-timeline {
  display: none;
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
  h3{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: $color-main;
    text-align: center;
  }
  }
  #cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: $color-second;
  }
  
  .cd-timeline-block {
  position: relative;
  margin: 2em 0;
  }
  .cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
  }
  .cd-timeline-block:first-child {
  margin-top: 0;
  }
  .cd-timeline-block:last-child {
  margin-bottom: 0;
  }
  
  
  .cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px $color-second, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  }
  .cd-timeline-img {
  background: $color-second;
  }
  .cd-movie{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-font-light;
    font-weight: 700;
  }
  .cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: $color-bg-blur;
  border-radius: 2px;
  padding: 1em;
    h4{
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 110%;
      color: $color-main;
    }
    .quater-line{
      img{
        padding-right: 10px;
      }
      p{
        font-weight: 400;
        font-size: 16px;
        line-height: 15px;
        color: #FFFFFF;
        opacity: 0.8;
      }
    }
    .timeline-content-info {
    background: #2B343A;
    padding: 5px 10px;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    i {
      margin-right: 5px;
    }
    .timeline-content-info-title, .timeline-content-info-date {  
      width: calc(50% - 2px);
      display: inline-block;
    }
    @media (max-width: 500px) {
      .timeline-content-info-title, .timeline-content-info-date {  
        display: block;
        width:100%;
      } 
    }
  }
  .content-skills {
    font-size: 12px;
    padding:0;
    margin-bottom: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      background: #40484D;
      border-radius: 2px;
      display: inline-block;
      padding: 2px 10px;
      color: rgba(255,255,255,0.7);
      margin: 3px 2px;
      text-align: center;
      flex-grow: 1;
    }
  }
  }
  .cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
  }
  .cd-timeline-content h2 {
  color: rgba(255,255,255,.9);
  margin-top:0;
  margin-bottom: 5px;
  }
  .cd-timeline-content p, .cd-timeline-content .cd-date {
  color: rgba(255,255,255,.7);
  font-size: 13px;
  font-size: 0.8125rem;
  }
  .cd-timeline-content .cd-date {
  display: inline-block;
  }
  .cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
  }
  
  .cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333C42;
  }
  
  @media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
 }
  

.roadmap{ 
  padding-top: 150px;
  // .bg-coin-sixteen{
  //   position: absolute;
  //   top: 360%;
  //   left: 0;
  //   z-index: -1;
  // }
  // .bg-coin-seventeen{
  //   position: absolute;
  //   top: 400%;
  //   right: 2%;
  //   z-index: -1;
  // }
  // .bg-coin-eightteen{
  //   position: absolute;
  //   top: 440%;
  //   left: 7%;
  //   z-index: -1;
  // }
  // .bg-coin-nineteen{
  //   position: absolute;
  //   top: 467%;
  //   right: 10%;
  //   z-index: -1;
  // }
  // .bg-coin-twenty{
  //   position: absolute;
  //   top: 526%;
  //   right: 6%;
  //   z-index: -1;
  // }
  // .bg-coin-twentyone{
  //   position: absolute;
  //   top: 568%;
  //   right: 8%;
  //   z-index: -1;
  // }
  // .bg-coin-twentytwo{
  //   position: absolute;
  //   top: 615%;
  //   right: 7%;
  //   z-index: -1;
  // }
  // .bg-coin-twentythree{
  //   position: absolute;
  //   top: 578%;
  //   left: 11%;
  //   z-index: -1;
  // }
  .roadmap-img{
    position: absolute;
    left: 42%;
  }
  .roadmap__title{
    h3{
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 130%;
      color: $color-main;
    }
  }
  .roadmap__content{
    .roadmap__content-quater{
      h3{
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 110%;
        color: $color-main;
      }
      .quater-line{
        img{
          padding-right: 10px;
        }
        p{
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 15px;
          color: $color-font-light;
          opacity: 0.8;
        }
      }
    }
    .quater-center{
      padding: 120px 100px;
    }
  }
}

/* ======================= FAQS ======================= */
.faq{
  padding-top: 150px;
  .faq__title{
    h2{
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 64px;
      text-align: center;
      color: $color-main;
    }
  }
  .faq__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .faq__content-item{
      padding: 12px 0;
      .item__btn{
        width: 838px;
        height: 85px;
        background: $color-bg;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 48px;
        color: $color-font-light;
        padding: 13px;
        i{
          transition: all 0.5s ease;
          .open & {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
        .item__number{
          width: 60px;
          height: 60px;
          background-color: $color-number;
          color: $color-font-light;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .item__text{
          padding: 0 90px 0 57px;
          width: 85%;
          text-align: left;
        }
        .chew.active{
          color: $color-main;
        }
      }
      .item__answer{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: $color-font-light;
        opacity: 0.8;
        margin-left: 15.5%;
        padding-top: 18px;
        transition: all 0.3s;
      }
      i{
        font-size: 2rem;
        line-height: 0;
        transition: all 0.5;
      }
    }
  }
}

/* ======================= MEDIA ======================= */

.shou{
  .bg-coin-twentyfour{
    position: absolute;
    top: 650%;
    left: 0%;
    z-index: -1;
  }
  .bg-coin-twentyfif{
    position: absolute;
    top: 665%;
    right: 33%;
    z-index: -1;
  }
  .bg-coin-twentysix{
    position: absolute;
    top: 704%;
    right: 1%;
    z-index: -1;
  }
  .bg-coin-twentyseven{
    position: absolute;
    top: 739%;
    left: 4%;
    z-index: -1;
  }
  .bg-coin-twentyeight{
    position: absolute;
    top: 748%;
    right: 18%;
    z-index: -1;
  }
  .bg-coin-twentynine{
    position: absolute;
    top: 790%;
    left: 17%;
    z-index: -1;
  }
  .bg-hide-three{
    position: absolute;
    left: 0%;
    top: 685%;
  }
  padding-top: 110px;
  .shou__title{
    h2{
      font-style: normal;
      font-weight: 700;
      font-size: 38px;
      line-height: 64px;
      text-align: center;
      color: $color-main;
    }
  }
  .shou__icon{
    height: 302px;
    background: $color-bg-blur;
    backdrop-filter: blur(90px);
    .shou__content{
      img{
        padding: 27px;
      }
    }
  }
  .shou__icon-thin{
    height: 200px;
  }
  .shou-no-bg{
    background: transparent;
    backdrop-filter: blur(0px);
  }
}
.space-shou{
  padding-bottom: 145px;
  background: transparent;
}


